---
import CollectionLayout from "../../layouts/CollectionLayout.astro";
import Articles from "../../islands/articles";
import { getCollection } from "astro:content";
import Introduction from "../../components/Introduction.astro";

const articles = await getCollection("articles");
---

<CollectionLayout collection="articles">
  <Introduction collection="articles">
    <p>
      我发现，写文章是记录自己的一种最佳方式。在工作与学习中，我习惯用文章的方式整理思考，加深理解；在生活中，我喜欢通过书写，梳理个人情绪与思绪，反思那些困扰自己的问题。电影与阅读是我的兴趣，借助文字，可以让这些珍贵的输入不会像流水一般，匆匆而逝。如果你有兴趣阅读更多我的文章，欢迎点击右上角用
      RSS 订阅。
    </p>
  </Introduction>
  <Articles
    nodes={articles.map((x) => ({ ...x.data, slug: `articles/${x.id}` }))}
    client:only
  />
</CollectionLayout>
