---
import Layout from "../layouts/Layout.astro";
import { title } from "..";
---

<Layout>
  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-1">{title}</h1>
        <h2 class="subtitle is-3">欢迎来到我的个人网站</h2>
        <div class="content">
          <p class="is-size-5">
            网站正在建设中，请稍后再来查看...
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
